.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Body styles */
body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

/* Form styles */

input[type="text"] {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Card styles */
.card {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0px;
}

/* Table styles */
.ant-table {
  background-color: black;
  color: white;
}

.ant-table-thead th {
  background-color: red;
  color: white;
  border: 1px solid white;
}

/* Spin styles */
.ant-spin {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
}

/* Image styles */
img {
  border: 1px solid white;
}

/* Button styles */
.ant-btn-primary {
  background-color: red;
  border-color: red;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}